force_init_configs: false
git_configs:
  url: https://github.com/morozandralek/b2bits-config.git
  branch: main

imagePullSecrets: []

fixicc_agent:
  image:
    url: morozandralek/fixicc-agent
    version: latest
    imagePullPolicy: Always
  port: 8005
  livenessProbe:
    initialDelaySeconds: 15
    periodSeconds: 20
  NLB:
    enabled: false
    allowCIDR: []
  resources:
    requests:
      cpu: 0.2
      memory: 200Mi
    limits:
      cpu: 0.2
      memory: 200Mi
  storage:
    # The StorageClass to use for the servers' StatefulSet storage. 
    # Empty value will use the Kubernetes cluster's default StorageClass. If a default
    # StorageClass does not exist, you will need to create one.
    # A `store-aws-ebs-fe` value will register StorageClass based on AWS EBS, which is 
    # suitable for deployment in EKS - see templates/storageclass.yaml for details.
    class: ""
    accessModes: ReadWriteOnce
    fixicc_agent_configs:
      size: 1Gi
     